<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @poet.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @poet.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @poet.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @poet.website %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @poet.bio %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @poet.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @poet.twitter %>
</p>

<p>
  <strong>Tumblr:</strong>
  <%= @poet.tumblr %>
</p>

<p>
  <strong>YouTube:</strong>
  <%= @poet.youtube %>
</p>

<%= link_to 'Edit', edit_poet_path(@poet) %> |
<%= link_to 'Back', poets_path %>
