<div class="row">
  <div id="poet-sidebar-container" class="col-md-4">
    <div id="poet-sidebar">
      <h1><%= @poet.first_name %> <%= @poet.last_name %></h1>
      <div class="poet-sidebar-section">
        <p><%= social_links(@poet) %></p>
        <p><%= link_to truncate(@poet.website, length: 30), @poet.website, target: "_blank" unless @poet.website.nil? %></p>
      </div>
      <div class="poet-sidebar-section">
        <h2>BIO</h2>
        <%= @poet.bio %>
      </div>
      <div class="poet-sidebar-section">
        <h2>TOUR</h2>
          <ul>
            <li>
              <p>
                12/3 - Bar 13<br>
                NYC</p>
            </li>
            <li>
              <p>
                12/5 - Hank's<br>
                Hartford, CT
              </p>
            </li>
          </ul>
      </div> <!-- poet-sidebar-section -->
    </div> <!-- poet-sidebar -->
  </div> <!-- poet-sidebar-container -->

  <div id="poet-poems-container" class="col-md-7 col-md-offset-1">
    
    <% @poet.poems.each do |poem| %>
      <div class="poem-container">
        <h2><%= poem.title %></h2>
        <h3><%= "Uploaded on #{poem.date.strftime('%B %e, %Y')};" unless poem.date.nil? %></h3>
        <div class="poem-player">  
          <%= raw(poem.embed_code) %>
        </div>
      </div> <!-- poem-container -->
    <% end %>

  </div> <!-- poet-poems-container -->
</div> <!-- row -->

  <div class="pull-left">
    <%= link_to 'Back', poets_path %>
  </div>
